body {
  margin: 0 auto;
  font-family: arial, sans-serif;
  background: #e1dd72;
}

.calculator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator-wrapper.left .slide-calculator {
  margin-left: -400px;
  z-index: 0;
}
.calculator-wrapper.right .additional-window {
  margin-right: -460px;
  z-index: 0;
}

.calculator {
  padding: 20px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgb(0, 0, 0);
  position: absolute;
  z-index: 1;
}
.calculator .sum {
  color: #ab8e50;
  font-size: 60px;
  height: 80px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: flex-end;
  overflow: hidden;
}
.calculator .main-buttons {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 65px);
  grid-template-rows: 65px 65px 65px 65px 65px;
  grid-gap: 8px;
}

.btn {
  width: 60px;
  height: 60px;
  background-image: linear-gradient(70deg, #e1dd72 0%, #a8c66c 50%, #1b6535 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  transition: 0.5s;
  font-size: 30px;
  border: 1px solid #1f6937;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  color: #ffffff;
}
.btn:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.slide-calculator {
  padding: 10px;
  left: 50%;
  margin-left: -180px;
  border-radius: 30px;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgb(0, 0, 0);
  transition: left 1s ease;
}
.slide-calculator .engineering-mode {
  bottom: 155px;
  left: -80px;
  background-image: linear-gradient(70deg, #e1dd72 0%, #a8c66c 50%, #1b6535 100%);
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  transform: rotate(-90deg);
  border-radius: 30px;
  border: 1px solid #1f6937;
}
.slide-calculator .additional-buttons {
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(3, 65px);
  grid-template-rows: 65px 65px 65px 65px;
  grid-gap: 8px;
}

.additional-window {
  padding: 20px;
  right: 50%;
  margin-right: -180px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 280px;
  height: 400px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  color: #ffffff;
  transition: right 1s ease;
}
.additional-window .reset-history {
  position: absolute;
  top: 10px;
  right: 75px;
  width: 180px;
  background-image: linear-gradient(70deg, #e1dd72 0%, #a8c66c 50%, #1b6535 100%);
  color: #ffffff;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid #1f6937;
  cursor: pointer;
}
.additional-window .history-board {
  position: relative;
  right: -160px;
  top: 190px;
  background-image: linear-gradient(70deg, #e1dd72 0%, #a8c66c 50%, #1b6535 100%);
  color: #ffffff;
  border-radius: 30px;
  border: 1px solid #1f6937;
  font-size: 18px;
  transform: rotate(90deg);
}
.additional-window .calc-history {
  color: #C6A86C;
  font-size: 20px;
  margin-top: auto;
  text-align: right;
  overflow: scroll;
}

@media (max-width: 425px) {
  .calculator {
    width: 270px;
  }
  .calculator .main-buttons {
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: 50px 50px 50px 50px 50px;
  }
  .calculator .btn {
    font-size: 14px;
  }
  .calculator .sum {
    font-size: 40px;
    height: 60px;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .calculator {
    width: 320px;
  }
  .calculator .main-buttons {
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: 60px 60px 60px 60px 60px;
  }
  .calculator .btn {
    font-size: 16px;
  }
  .calculator .sum {
    font-size: 50px;
    height: 70px;
  }
}
@media (min-width: 2560px) {
  .calculator {
    height: 45em;
    width: 30em;
    padding: 30px;
  }
  .calculator .sum {
    font-size: 100px;
    height: 130px;
  }
  .calculator .main-buttons {
    grid-template-columns: repeat(4, 95px);
    grid-template-rows: 80px 80px 80px 80px 80px;
    grid-gap: 33px;
  }
  .calculator .btn {
    font-size: 54px;
    height: 100px;
    width: 100px;
  }
  .additional-window {
    height: 35em;
    width: 30em;
    right: 610px;
  }
}

/*# sourceMappingURL=style.css.map */
