@import 'variables';

body {
  margin: 0 auto;
  font-family: $font-family;
  background: $background-main;
}

.calculator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &.left .slide-calculator {
    margin-left: -400px;
    z-index: 0;
  }
  &.right .additional-window {
    margin-right: -460px;
    z-index: 0;
  }
}

.calculator {
  padding: 20px;
  border-radius: $border-radius;
  background: $background-calc;
  backdrop-filter: $blur;
  box-shadow: 0 0 10px $shadow;
  position: absolute;
  z-index: 1;
  .sum {
    color: $sum-color;
    font-size: 60px;
    height: 80px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-end;
    overflow: hidden;
  }
  .main-buttons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-template-rows: 65px 65px 65px 65px 65px;
    grid-gap: $grid-gap;
  }
}

.btn {
  width: 60px;
  height: 60px;
  background-image: $linear-gradient;
  background-position: 100% 0;
  background-size: 200% 200%;
  transition: .5s;
  font-size: $font-buttons;
  border: $border;
  border-radius: $border-buttons;
  cursor: pointer;
  user-select: none;
  color: $text-color-button;
  &:hover {
    box-shadow: 0 0 0 0 rgba(0, 40,120,0);
    background-position: 0 0;
  }
}

.slide-calculator {
  padding: 10px;
  left: 50%;
  margin-left: -180px;
  border-radius: $border-radius;
  position: absolute;
  background: $background-calc;
  backdrop-filter: $blur;
  box-shadow: 0 0 20px $shadow;
  transition: left 1s ease;
  .engineering-mode {
    bottom: 155px;
    left: -80px;
    background-image: $linear-gradient;
    color: $text-color-button;
    font-size: $font-add-button;
    position: absolute;
    transform: rotate(-90deg);
    border-radius: $border-radius;
    border: $border;
  }
  .additional-buttons {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(3, 65px);
    grid-template-rows: 65px 65px 65px 65px;
    grid-gap: $grid-gap;
  }
}

.additional-window {
  padding: 20px;
  right: 50%;
  margin-right: -180px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 280px;
  height: 400px;
  box-shadow: 0 0 10px $shadow;
  border-radius: $border-radius;
  background: $background-calc;
  backdrop-filter: $blur;
  color: $text-color-button;
  transition: right 1s ease;
  .reset-history {
    position: absolute;
    top: 10px;
    right: 75px;
    width: 180px;
    background-image: linear-gradient(70deg, $gradient-color1 0%, $gradient-color2 50%, $gradient-color3 100%);
    color: $text-color-button;
    font-size: $font-add-button;
    border-radius: 30px;
    border: $border;
    cursor: pointer;
  }
  .history-board {
    position: relative;
    right: -160px;
    top: 190px;
    background-image: linear-gradient(70deg, $gradient-color1 0%, $gradient-color2 50%, $gradient-color3 100%);
    color: $text-color-button;
    border-radius: $border-radius;
    border: $border;
    font-size: $font-add-button;
    transform: rotate(90deg);
  }
  .calc-history {
    color: $history-color-text;
    font-size: 20px;
    margin-top: auto;
    text-align: right;
    overflow: scroll;
  }
}

// Мобильные устройства до 480px
@media (max-width: $small) {
  .calculator {
    width: 270px;

    .main-buttons {
      grid-template-columns: repeat(4, 50px);
      grid-template-rows: 50px 50px 50px 50px 50px;
    }

    .btn {
      font-size: 14px;
    }

    .sum {
      font-size: 40px;
      height: 60px;
    }
  }


}

// Планшеты от 481px до 768px
@media (min-width: $small) and (max-width: $medium) {
  .calculator {
    width: 320px;

    .main-buttons {
      grid-template-columns: repeat(4, 60px);
      grid-template-rows: 60px 60px 60px 60px 60px;
    }

    .btn {
      font-size: 16px;
    }

    .sum {
      font-size: 50px;
      height: 70px;
    }
  }
}

// Большие экраны от 2560px и выше
@media (min-width: $xlarge) {
  .calculator {
    height: 45em;
    width: 30em;
    padding: 30px;

    .sum {
      font-size: 100px;
      height: 130px;
    }

    .main-buttons {
      grid-template-columns: repeat(4, 95px);
      grid-template-rows: 80px 80px 80px 80px 80px;
      grid-gap: 33px;
    }

    .btn {
      font-size: 54px;
      height: 100px;
      width: 100px;
    }
  }

  .additional-window {
    height: 35em;
    width: 30em;
    right: 610px;

    .history-board {

    }
  }

  .bottom {

  }
  .history-board {

  }
}
  .calculator-wrapper {

  //  &.left .slide-calculator {
  //
  //  }
  //}
}
